* {
    margin: 0px;
    padding: 0px;
}

#container {
    display: flex;
    border: solid 5px black;
    width: 480px;
    height: 480px;
    flex-flow: wrap;
    justify-content: center;
    margin: 20px auto;
}

.square {
    box-sizing: border-box;
    border: solid 1px grey;
    width: 30px;
    height: 30px;
    margin: 0px;
}

button {
    display: block;
    padding: 10px;
    margin: 20px auto;
    font-weight: bold;
}