* {
    margin: 0px;
    padding: 0px;
}

#container {
    display: flex;
    border: solid 5px black;
    width: 490px;
    height: auto;
    flex-flow: wrap;
    justify-content: center;
    margin: 30px auto;
}

.square {
    box-sizing: border-box;
    border: solid 1px grey;
    width: 30px;
    height: 30px;
    margin: 0px;
}